<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mawandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".DoctorActivity" />
        <activity android:name=".DoctorRecommendActivity" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".PatientRecommendActivity" />
        <activity android:name=".PatientWishActivity" />
        <activity android:name=".validation.ChatActivity" />
        <activity android:name=".PatientDisplayActivity" />
        <activity android:name=".DonorActivity" />
        <activity android:name=".DonorDonateActivity" />
        <activity android:name=".SuccessDonationActivity" />
        <activity android:name=".PatientGrantedActivity"></activity>
    </application>

</manifest>